<!DOCTYPE html>
<html>
    <head>
        <script>
            MathJax = {
              tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
              }
            };
            </script>
            <script id="MathJax-script" async
              src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
            </script>
        <style>
            body {
                background-color: #1e2432;
            }
        </style>
    </head>
    <body>
        <h1 style="text-align:0">umitkaanusta.github.io</h1>
        {{ content }}
    </body>
</html>